<!DOCTYPE html>
<html>
<head>
    <title>Dog</title>
</head>
<body>
    <style>
        
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #0b95d4;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
    <h1>Dog</h1>
    <img src="https://img.freepik.com/free-photo/isolated-happy-smiling-dog-white-background-portrait-4_1562-693.jpg" alt="Dog Image">
    <p>This is a dog.</p>
    
    <a href="/cat" class="button">Cat</a>
    <a href="/" class="button">Back To Home</a>
</body>
</html>
